<article>
  <h2>Followers</h2>
  <ul id="<%= nested_dom_id @user, 'followers' %>">
    <% @user.followers.each do |follower| %>
      <%= render "follow", user: follower, follow: :follower %>
    <% end %>
  </ul>
</article>
