<article>
  <h2>Followers</h2>
  <ul id="<%= nested_dom_id @user, 'followers' %>">
    <% @user.followers.each do |follower| %>
      <%= render "follow", current_user: @user, other_user: follower, relationship: :passive %>
    <% end %>
  </ul>
</article>
