<header>
  <h1>Tiến đẹp trai</h1>
</header>
<main>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, natus ex sunt fugiat cumque molestias at quidem facilis inventore ut laborum earum rerum ab odit nihil obcaecati eum! Provident, assumenda!</p>
</main>
