<header>
  <h1>Redo codecamp 3rd</h1>
</header>
<main>
  <p>I did terrible in the third codecamp. I was trying to use AI, but in the
    wrong way. I learned so much about using AI tools though. I can actually
    build faster and get a better result without using LLM inefficiency like
    this. If I am nothing without it then I don't deserve it.</p>
  <p>This repo is for learning purpose only. No LLMs will be involved in this.</p>
</main>
