<% content_for :title, "Tiến đẹp trai" %>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, natus ex sunt fugiat cumque molestias at quidem facilis inventore ut laborum earum rerum ab odit nihil obcaecati eum! Provident, assumenda!</p>
