<% flash.each do |type, msg| %>
  <div class="<%= type %> notice" data-controller="removals" data-action="animationend->removals#remove">
    <p class="notice__message"><%= msg %></p>
    <button class="notice__close" type="button" data-action="click->removals#remove">Close</button>
  </div>
<% end %>
